/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

/* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin: 0;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  span {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="time"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  